<div class="row">
 <aside class="col-md-4">
   <section class="user_info">
     <%= render 'shared/user_info' %>
    </section>
    <section class="micropost_form">
     <%= render 'shared/micropost_form' %>
   </section>
 </aside>
  <div class="col-md-12">
    <h3>
    <%= link_to "Book The Package Now!", new_booking_path %>
    </h3>
    <%= render 'shared/feed' %>
  </div>
</div>