<div class="center jumbotron">
  <h1>Welcome to Snail Season sample project</h1>
  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Snail Season booking system</a>
    sample application.
  </h2>
  
  <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>