<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.railstutorial.org/"><em>Snail Season Booking system project</em></a> is a
  <a href="http://www.railstutorial.org/book">sample web application</a> developed 
  <a href="http://screencasts.railstutorial.org/">from the scratch</a>
  by Snail Walker,
  <a href="http://rubyonrails.org/">Inspired by ruby on rails tutorial  </a>.
  Thanks Michael Hartl for writting this book .
</p>