<li id="booking-<%= booking.id %>">
  <span class="user"><%= link_to booking.user.name, booking.user %></span>
  <span class="content">Hotel Name: <%= booking.hotel_name %></span>
  <span class="content">Depature Date: <%= booking.date_of_tour %></span>
  <span class="content">Phone Number: <%= booking.phone_number %></span>
  <span class="content">Number Of Pax: <%= booking.number_of_pax %></span>
  <span class="content">Pick Up Time: <%= booking.pick_up_time %></span>
  <span class="timestamp">
    Package booked <%= time_ago_in_words(booking.created_at) %> ago.
  </span>
</li>