<% provide(:title, 'Book the package now') %>
<h1>Book now</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for (@booking) do |f| %>
    <%= render 'shared/errorbooking_messages' %>
      <%= f.label :date_of_tour %>
      <%= f.text_field :date_of_tour, "data-provide" => 'datepicker' %>
      
      <%= f.label :hotel_name %>
      <%= f.text_field :hotel_name, class: 'form-control' %>

      <%= f.label :hotel_address %>
      <%= f.text_field :hotel_address, class: 'form-control' %>

      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: 'form-control' %>

      <%= f.label :number_of_pax %>
      <%= f.text_field :number_of_pax, class: 'form-control' %> 

      <%= f.label :pick_up_time %>
      <%= f.text_field :pick_up_time, class: 'form-control' %>

      <%= f.submit "Book now", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>