<% if logged_in? %>
<% provide(:title, @booking.date_of_tour) %>
<div class="row">
 <aside class="col-md-4">
 	<section class="user_info">
<h1>
<%= @booking.hotel_name %>
     </h1>
   </section>
  </aside>
</div>
<% end %>