<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
   <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
    <h3>
    <%= link_to "Book The Package Now!", new_booking_path %>
    </h3>
  </div>
    <div class="col-md-12">
    <% if @user.bookings.any? %>
      <h5>Bookings (<%= @user.bookings.count %>)</h5>
      <ol class="microposts">
        <%= render @bookings %>
      </ol>
      <%= will_paginate @bookings %>
    <% end %>
  </div>
</div>